/* nav styles */
*{
    margin: 0;
    padding: 0;
}
.flower-nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: rgb(235, 154, 235);
    height: 100px;
    
}
.services{
    display: flex;
}
li{
    list-style: none;
    padding: 10px;
    margin: 10px;
    width: 60px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    font-weight: bold;
}
.list{
    background-color: pink;
    
}
.logo{
    font-size: 25px;
    color: rgb(226, 25, 25);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
span{
    color:black;
}
li:hover{
    background-color: purple;
    transition: 2s;
}
/* nav styles end */

/* banner style starts */
.banner-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    background-color:rgba(229, 84, 115, 0.10) ;
    width: 100%;

}
.banner-peragraph{
    width: 400px;
    font-size: 18px;
    margin-bottom: 10px;
    
}
.banner-pic{
    width: 435px;
    height: 450px;
    margin-top: 20px;
}
.banner-title{
    width: 400px;
    font-size: 50px;
    margin-bottom: 10px;
}
.banner-info{
    margin-left: 100px;

}
.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#E55473;
    color: white;
}
/* banner style end */

/* banner container starts */
.container-heading{
    text-align: center;
    margin-top: 60px;
    padding: 20px;
}
.container-title{
    margin-bottom: 10px;
    font-size: 40px;
}
.container-paragraph{
    width: 50%;
    margin-left: 25%;
}
.banner-picture{
    align-items: center;
    justify-content: center;
    display: flex;
}
.pic1{
    width: 300px;
    height: 415px;
    margin: 15px;
    border-radius:300px 300px 0px 0px;
    margin-top: 10px;
}
.pho3{
    background-color:rgba(71, 125, 17, 0.15);
}
.pho2{
    background-color:rgba(5, 151, 160, 0.15);

}
.pho1{background-color: rgba(167, 33, 98, 0.15);

}
.underline3{
    align-items: center;
    display: flex;
    justify-content: center;
}
/* banner content end */

/* third banner section starts */

.third-banner-container{
    margin-top: 40px;
    background-color:rgba(229, 84, 115, 0.05) ;
}
.banner-offer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.off{
    color: red;
}
.offer-para{
    text-align: center;
    width: 50%;
    margin-left: 210px;
    font-size: 18px;
    
}
.red-rose{
    margin-right: 120px;
}
.sign-up{
    margin-left: 400px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #E55473;
    border-radius: 5px;
    border: none;
    color: white;

}
/* 
third banner end */
/* instastam banner start */
.insta-banner-container{
    margin-top: 60px;
}
.insta-banner-info{
    text-align: center;
}
.insta-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
}
.rose1{
    width: 280px;
    height: 300px;
    
}
.instagram-pictures{
    display: flex;
    margin-left: 60px;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
    margin-top: 30px;
    
    
}
.insta-title{
    font-size: 40px;
    margin-bottom: 10px;
}
.insta-para{
    font-size: 18px;
    width: 50%;
    margin-left: 320px;
}
/* insta banner end */
/* latest container starts */

.latest-container-info{
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 50px;
    background-image: url('../Flower/Rectangle\ 9.png');
    background-size: cover;
    height: 250px;
    

}
.latest-container-title{
    font-size: 40px;
    margin-bottom: 10px;
    padding: 20px;
    
}
.latest-container-para{
    font-size: 18px;
    margin-bottom: 25px;
}
.sub{
    width: 500px;
    height: 35px;
    
}
.btn-two{
    height: 39px;
    width: 100px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    color: white;
}
/* latest container section end */
/* footer start */
.footer-section{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid red;
    height: 300px;
    background-color: black;
    color: white;
    
    
}
.footer-title{
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 48px;
    
}
.footer-para{
    margin-bottom: 30px;
    font-size: 18px;
    width: 50%;
    margin-left: 25%;
}
.shop{
    color: #E55473;

}
.copyright{
    font-size: 12px;
}
/* footer end */